<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="AuditConfig" type="NServiceBus.Config.AuditConfig, NServiceBus.Core" />
  </configSections>
  
  <!-- Note the specific name for the error queue: should not be the same as the business endpoints error queue-->
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="monitorError" />
  <UnicastBusConfig>
    <MessageEndpointMappings >
      <add Assembly="ServiceControl.Contracts"
           Endpoint="Particular.ServiceControl" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <!-- Note the specific name for the audit queue: should not be the same as the business endpoints audit queue-->
  <AuditConfig QueueName="monitorAudit" />
  
</configuration>